.container {
    display: flex;
    align-items: center;
}

.title{
    margin: 20px;
    text-align: center;

}

.item{
    width: 500px;
    margin: 10px;
}

.items{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;

}