.container {
    display: flex;
    align-items: center;
}

.title{
    margin: 20px;

}

.item{
    width: 500px;
    margin: 10px;
}

.items{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;

}

.item2{
    margin: 45px;
    text-align: right;
}

.spaceBetWeen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}