.item{
    width: 500px;
    margin: 10px;
}

.items{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;

}


.title{
    margin: 20px;
    text-align: center;

}


.parentContainer {
    position: relative;
    height: 100vh;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.button{
    width: 150px;
    height: 60px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 360px;
    margin-bottom: 20px;

}



.myModal{
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;

}




